* {
    padding: 0;
    margin: 0;
}

.dashboard {
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
}

.dashboard input {
    width: 90%;
}

.cd {
    width: 200px;
    display: inline-block;
    animation: all linear 0.2s;
}

.cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-image: url('https://photo-resize-zmp3.zadn.vn');
    background-size: cover;
} 

.btn .fa-pause {
    display: none;
}

.control {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0 30px 0;
}

.list_song {
    margin-top: 400px;
}

.song {
    margin: 10px;
    display: flex;
    justify-content: space-between
}

.thumb {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-size: cover;
}